/*  */
@media screen and (min-width:481px) and (max-width:778px) {


    /* Program section start */

    .program-chil-width {
        width: 100%;
    }


    .flex-wrap-p-secton {
        justify-content: center;
        flex-wrap: wrap;
    }

}




/* For responsive flex wrap */

@media screen and (max-width:940px) {


    .responsive-cards {
        flex-wrap: wrap;
        justify-content: center;
    }


}




/* Footer responisve  */

@media screen and (max-width : 1013px) {


    .footer-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }


    .footer-logo {
        display: flex;
        justify-content: center;
    }


}



/* For tables start */


@media screen and (max-width : 768px) {
    .agreemencards {
        display: flex;
        flex-wrap: wrap;
    }


    .team-section-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


/* For tables End */



/* compaines section */

@media screen and (max-width:989px) {


    .com-section-wrap {
        flex-wrap: wrap;
        justify-content: center;

        align-items: center;
    }


}


/* compaines section */







/* for mobile */
@media screen and (max-width : 480px) {


    /* Mobile padding left right */

    .px-m {
        padding-left: 1rem;
        padding-right: 1rem;
    }


    /* Padding top bottom */

    .py-m{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }


    .display-none-m {
        display: none;
    }


    /* Program start */

    .program-chil-width-m {
        width: 100%;

    }



    /* Program End */



   /* Enroll  section */

     .Enroll-card-logo-m img{
        width: 32px;
     }

     .Enroll-card-border-m{
            
        border-top-left-radius:30px;
     }
       

      /* Enroll section */


      /* Agreement cards */
 
          .Agreement-cards-m-logo img{
            width: 32px;
          }

      /* Agreement cards */


      /* User section */

  
        .user-card-m-logo{
            width: 60px;
        }

        .user-card-m-link{
            width: 32px;
        }

        .user-card-m-link-2{
            width: 42px;
        }

      /* User section */

            /* Footer Section */

              .footer-logo-m{
                width: 183px;
              }
             
            /* Footer Section */


       /* Companies Section */
 
         .companies-wrap-cards{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
         }
     
       /* Companies Section */


}






/* for mobile */
@media screen and (min-width : 481px) {

    .display-none-desktop {
        display: none;
    }


}