
/*  */
@media screen and (min-width:481px) and (max-width:778px) {
    

    /* Program section start */

    .program-chil-width{
        width: 100%;
    }


    .flex-wrap-p-secton{
        justify-content: center;
        flex-wrap: wrap;
    }

}




/* For responsive flex wrap */

@media screen and (max-width:940px) {
     
 
    .responsive-cards{
        flex-wrap: wrap;
        justify-content: center;
    }


}




/* Footer responisve  */

@media screen and (max-width : 1013px) {
    

     .footer-wrap{
        flex-wrap: wrap;
        justify-content: center;
     }


     .footer-logo{
        display: flex;
        justify-content: center;
     }


}



/* For tables start */


@media screen and (max-width : 768px) {
    .agreemencards{
          display: flex;
          flex-wrap: wrap;
    }


    .team-section-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
  }
}


/* For tables End */



/* compaines section */

@media screen and (max-width:989px) {
     
 
    .com-section-wrap{
        flex-wrap: wrap;
        justify-content: center;
    }


}


/* compaines section */







/* for mobile */
@media screen and (max-width : 500px) {
    


    .display-none-m{
      display: none;
    }
 
 
     /* Program start */
 
     .program-chil-width-m{
         width: 100%;
         
     }
 
     .px-m{
         padding-left: 1rem;
         padding-right: 1rem;
     }
 
     /* Program End */
 
 }






 /* for mobile */
@media screen and (min-width : 500px) {
    

 
 
 }